/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../libs/fancybox/jquery.fancybox.css";

/*
* Custom
*/
@import "partials/app.scss";
@import "partials/media.css";

body {
  color: #fff;
  min-width: 480px;
}

container {
  box-sizing: border-box;
}

header.top {
  width: 100%;
  height: 643px;
  background: url(../img/header_bg.jpg) #000 no-repeat center;
  font-family: "BebasRegular";
  .top_line {
    min-height: 97px;
    background: rgba(0,0,0,.7);
    box-shadow: 0 0 2px rgba(255,255,255,.7);
    box-sizing: border-box;
    padding-top: 23px;
    strong {
        font-size: 32px;
        display: block;
        span {
          color: #d12f22;
          float: left;
          padding-right: 9px;
        }
      }
     a {
        color: #FFFFFF;
        font-size: 21px;
        text-transform: uppercase;
        display: block;
        font-size: 21px;
      }
    .address {
      padding-left: 46px;
      line-height: 28px;
      background: url(../img/map_img.png) no-repeat left center;
    }
    .phone {
      line-height: 28px;
      float: right;
    }
    .logo {
      width: 175px;
      height: 160px;
      position: absolute;
      top: -22px;
      left: -1px;
      background: url(../img/logo.png) no-repeat top center;
    }
  }
  .banner { 
    .banner_slogan {
      width: 100%;
      height: auto;
      font-size: 40px;
      padding-top: 65px;
      margin: 0 auto;
      text-align: center;
      text-shadow: 0 2px 2px rgba(0,0,0,.55);
      letter-spacing: 1.5px;
      margin-bottom: 355px;
    }
 
  }
}
.banner_button {
  line-height: 50px;
  display: inline-block;
  padding-left: 52px;
  margin-right: 21px;
  background: url(../img/foto.png) 12px 9px no-repeat #d12f22;
  border-bottom: 2px solid #ac160a;
  vertical-align: middle;
  .st_button{
    line-height: 18px;
  }
  .button {
    background: none;
    border: none;
  }
  .button:hover {
  background: none;
  }
  .button:active {
  background: none;
  }
}

.banner_button:hover {
  background-color: #B33A3A;
}
.banner_button:active {
  background-color: #400505;
}


.button {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  background-color:  #d12f22;
  line-height: 50px;
  padding: 0 28px;
  font-size: 20px;
  text-shadow: 0 0.5px 0 rgba(255,255,255,.55);
  vertical-align: middle;
  border-bottom: 2px solid #ac160a;
}
.button:hover {
  background-color: #B33A3A;
  color: #fff;
  text-decoration: none;
}
.button:active {
  background-color: #400505;
  color: #fff;
  text-decoration: none;
}
nav.main{
  width: 100%;
  background-color: #242424;
  border-top: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 70px;
    font-family: "BebasRegular";
    font-size: 20px;
    :nth-child(1) {
      border: none;
    }
    :nth-child(1) span{
      background: url(../img/sprite.png) no-repeat;
    }
    :nth-child(2) span{
      background: url(../img/sprite.png) no-repeat 0px 0px;
    }
    :nth-child(3) span{
      background: url(../img/sprite.png) no-repeat 0px -27px;
    }
    :nth-child(4) span{
      background: url(../img/sprite.png) no-repeat 0px -53px;
    }
    :nth-child(5) span{
      background: url(../img/sprite.png) no-repeat 0px -80px;
    }
    :nth-child(6) span{
      background: url(../img/sprite.png) no-repeat 0px -107px;
    }
    .active {
      background: #000;
    }
    li {
      width: auto;
      float: left;
      margin: 0;
      text-align: center;
      padding: 0 15px;
      border-left: 1px solid #3a3a3a;
      a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
      }
      span {
      width: 23px;
      height: 23px;
      display: inline-block;
      margin-right: 9px;
    }
    }
  }
}
nav.main li:hover {
  background-color: #000;
  cursor: pointer;
}

.company_services {
  width: 100%;
  font-family: "BebasRegular";
  font-size: 19px;
  background-color: #191919;
  padding: 64px 0 48px;
  .name_company {
    width: 100%;
    text-align: center;
    h1 {
      letter-spacing: 2px;
      display: inline-block;
      color: #c9c9c9;
      margin: 0;
      span {
        color: #d12f22;
        display: inline-block;
        margin-left: -17px;
      }
    }
  }
}

.wrap {
    margin: 66px 0 153px;
}
.items_wrap {
  padding: 0;
  list-style-type: none;
  .active {
    background-color: #2a2a2a;
  }
  .item {
    float: left;
    border-right: 1px solid;
    width: 160px;
    margin-right:30px;
    text-align: center;
    border: 1px solid #353535;
    cursor: pointer;
  }
}  
.item:hover span,
.item:hover h1{
  background-color: #2a2a2a;
}

.item:hover .rows {
  background: url(../img/sprite.png) 27px -156px no-repeat #353535;
}

.item span {
  width: 100%;
  height: 120px;
  display: block;
  background: url(../img/sprite.png) no-repeat;
}
.items_wrap :nth-child(1) span{
  background-position: -113px 22px;
}
.items_wrap :nth-child(2) span{
  background-position: -117px -152px;
}
.items_wrap :nth-child(3) span{
  background-position: -112px -316px;
}
.items_wrap :nth-child(4) span{
  background-position: -299px 19px;
}
.items_wrap :nth-child(5) span{
  background-position: -305px -145px;
}
.items_wrap :nth-child(6) span{
  background-position: -308px -320px;
}
.item a{
  text-decoration: none;
}
.item h1{
  font-size: 20px;
  margin: 0;
  color: #fff;
  padding-bottom: 10px;
}

.active .rows {
  width: 100%;
  height: 25px;
  background: url(../img/sprite.png) 27px -156px no-repeat #353535;
  margin: 0 auto;
}

.rows {
  width: 100%;
  height: 25px;
  background: url(../img/sprite.png) 28px -184px no-repeat #212121;
  margin: 0 auto;
}

.li_after {
  position: absolute;
  width: 162px;
  height: 22px;
  background: url(../img/triangle.png) no-repeat 8px 11px;
  display: none;
}

.sub_menu {
  list-style-type: none;
  padding: 20px 0;
  margin: 0;
  top: 200px;
  background-color: #323232;
  width: 1109px;
  display: none;
  left: 15px;
  position: absolute;
  li {
    display: inline-block;
    padding: 0 9px;
    a {
      text-decoration: underline;
      color: #fff;
      font-size: 20px;
      h3 {
      margin: 0;
      font-size: 23px;
     }
    }
    a:hover {
       text-decoration: none;
    }
  }
}

.button_order {
  text-align: center;
}

div.slogan {
  background-color: #E9E9E9;
  color: #060606;
  width: 100%;
  padding: 35px 0;
  font-family: "BebasRegular";
}

div.slogan strong, div.slogan .text {
  text-align: center;
  display: block;
}

span.slogan {
  font-size: 40px;
  display: inline-block;
}

span.slogan::before {
  content: " ";
  display: inline-block;
  height: 30px;
  width: 50px;
  background: url(../img/sprite.png) no-repeat -23px -484px;
  margin-right: 8px;
}
span.slogan::after {
  content: " ";
  display: inline-block;
  height: 30px;
  width: 50px;
  background: url(../img/sprite.png) no-repeat -80px -484px;
  margin-left: 8px;
}
.text {
  font-size: 16px;
  font-family: "RobotoRegular";
  width: 775px;
  padding-top: 10px;
  margin: 0 auto;
}
.news {
  padding: 30px 0 0;
  background-color: #D6D6D6;
  .img_news {
    overflow: hidden;
    width: 100%;
    height: 240px;
    text-align: center;
    border-top: 8px solid red;
  }
  img{
    display: inline-block;
    width: 100%;
  }
  .text_news {
    font-family: "RobotoRegular";
    font-size: 15px;
    padding: 30px 0;
    text-align: center;
    color: #000;
  }
}

.order {
  width: 100%;
  padding: 35px 0 0;
  color: black;
  .button {
    font-family: "BebasRegular";
    text-transform: uppercase;
    float: right;
  }
  .order_services {
    font-size: 40px;
    text-transform: uppercase;
    font-family: "BebasRegular";
  }
  .order_text p{
    font-size: 16px;
    padding: 10px 0;
    margin: 0;
    font-family: "RobotoRegular";
  }
  .bg_img {
    width: 100%;
    height: 270px;
    background: url(../img/order_img.jpg) no-repeat left bottom;
  }
}

.main_footer {
  width: 100%;
  background-color: #282828;
  font-family: "BebasRegular";
  font-size: 20px;
  padding: 23px 0;
  .footer_menu {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        float: left;
        padding-right: 27px;
        a {
          color: #fff;
          text-decoration: underline;
          h3{
            margin: 0;
            font-size: 20px;
          }
        }
        a:hover {
          text-decoration: none;
        }
      }
    }
  }
  span.stat {
    display: block;
    width: 88px;
    height: 31px;
    background: url(../img/stat.jpg);
  }
}
