/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";
@import "partials/media.css";
@import "../../bower_components/bootstrap/dist/css/bootstrap.min.css";


/*
* Custom
*/
@import "partials/app.scss";

body {
  color: #fff;
}

container {
  box-sizing: border-box;
}

header.top {
  width: 100%;
  height: 643px;
  background: url(../img/header_bg.jpg) #000 no-repeat center;
  font-family: "BebasRegular";
  .top_line {
    min-height: 97px;
    background: rgba(0,0,0,.7);
    box-shadow: 0 0 2px rgba(255,255,255,.7);
    box-sizing: border-box;
    padding-top: 23px;
    strong {
        font-size: 32px;
        display: block;
        span {
          color: #d12f22;
          float: left;
          padding-right: 9px;
        }
      }
     a {
        color: #FFFFFF;
        font-size: 21px;
        text-transform: uppercase;
        display: block;
        font-size: 21px;
      }
    .address {
      padding-left: 46px;
      line-height: 28px;
      background: url(../img/map_img.png) no-repeat left center;
    }
    .phone {
      line-height: 28px;
      float: right;
    }
    .logo {
      width: 175px;
      height: 160px;
      position: absolute;
      top: -22px;
      left: 10px;
      background: url(../img/logo.png) no-repeat top center;
    }
  }
  .banner { 
    .banner_slogan {
      width: 100%;
      height: auto;
      font-size: 40px;
      padding-top: 65px;
      margin: 0 auto;
      text-align: center;
      text-shadow: 0 2px 2px rgba(0,0,0,.55);
      letter-spacing: 1.5px;
      margin-bottom: 355px;
    }
 
  }
}
.banner_button {
  line-height: 50px;
  display: inline-block;
  padding-left: 52px;
  margin-right: 21px;
  background: url(../img/foto.png) 12px 9px no-repeat #d12f22;
  border-bottom: 2px solid #ac160a;
  vertical-align: middle;
  .st_button{
    line-height: 18px;
  }
  .button {
    background: none;
    border: none;
  }
  .button:hover {
  background: none;
  }
  .button:active {
  background: none;
  }
}

.banner_button:hover {
  background-color: #B33A3A;
}
.banner_button:active {
  background-color: #400505;
}


.button {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  background-color:  #d12f22;
  line-height: 50px;
  padding: 0 15px;
  font-size: 20px;
  text-shadow: 0 0.5px 0 rgba(255,255,255,.55);
  vertical-align: middle;
  border-bottom: 2px solid #ac160a;
}
.button:hover {
  background-color: #B33A3A;
}
.button:active {
  background-color: #400505;
}
nav.main{
  width: 100%;
  background-color: #242424;
  border-top: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 70px;
    font-family: "BebasRegular";
    font-size: 20px;
    :nth-child(1) {
      border: none;
    }
    :nth-child(1) span{
      background: url(../img/sprite.png) no-repeat;
    }
    :nth-child(2) span{
      background: url(../img/sprite.png) no-repeat 0px 0px;
    }
    :nth-child(3) span{
      background: url(../img/sprite.png) no-repeat 0px -27px;
    }
    :nth-child(4) span{
      background: url(../img/sprite.png) no-repeat 0px -53px;
    }
    :nth-child(5) span{
      background: url(../img/sprite.png) no-repeat 0px -80px;
    }
    :nth-child(6) span{
      background: url(../img/sprite.png) no-repeat 0px -107px;
    }
    .active {
      background: #000;
    }
    li {
      width: auto;
      float: left;
      margin: 0;
      text-align: center;
      padding: 0 15px;
      border-left: 1px solid #3a3a3a;
      a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
      }
      span {
      width: 23px;
      height: 23px;
      display: inline-block;
      margin-right: 9px;
    }
    }
  }
}
nav.main li:hover {
  background-color: #000;
  cursor: pointer;
}

.company_services {
  width: 100%;
  font-family: "BebasRegular";
  font-size: 19px;
  background-color: #191919;
  .name_company {
    width: 100%;
    text-align: center;
    padding-top: 64px;
    .col-sx-12:before {
      content: " ";
      width: 52px;
      height: 27px;
      display: inline-block;
      background: url(../img/sprite.png) no-repeat -20px -457px;
      margin: 0 25px 0 25px;
    }
    .col-sx-12:after {
      content: " ";
      width: 52px;
      height: 27px;
      display: inline-block;
      background: url(../img/sprite.png) no-repeat -74px -457px;
      margin: 0 25px 0 18px;
    }
    h1 {
      letter-spacing: 2px;
      display: inline-block;
      color: #c9c9c9;
      margin: 0;
      span {
        color: #d12f22;
        display: inline-block;
      }
    }
  }
  .menu_services {
    width: 100%;
    margin-top: 70px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        width: 160px;
        height: 165px;
        margin: 0 15px;
        text-align: center;
        border: 1px solid #353535;
        position: relative;
        span {
          display: block;
          position: absolute;
          top: 16px;
          left: 22px;
          width: 112px;
          height: 84px;
        }
        a {
          h2 {
            font-size: 20px;
            color: #fff;
            padding: 108px 0 10px 0;
            margin: 0;
            display: inline-block;
            vertical-align: bottom;

          }
        }
        .arrow {
          width: 100%;
          height: 25px;
          background-color: #212121;
        }
      }
    }
  }
}

 .menu_services ul:nth-child(1) span {
  background: url(../img/sprite.png) -136px 3px no-repeat;
}
 .menu_services ul:nth-child(2) span {
  background: url(../img/sprite.png) -156px 3px no-repeat;
}
 .menu_services ul:nth-child(3) span {
  background: url(../img/sprite.png) -176px 3px no-repeat;
}
 .menu_services ul:nth-child(4) span {
  background: url(../img/sprite.png) -186px 3px no-repeat;
}
 .menu_services ul:nth-child(5) span {
  background: url(../img/sprite.png) -196px 3px no-repeat;
}
 .menu_services ul:nth-child(6) span {
  background: url(../img/sprite.png) -236px 3px no-repeat;
}

  .button_order {
    min-height: 100px;
  }


.tag_line {
  width: 100%;
  min-height: 100px;
  background: #939393;
}

.news{
  width: 100%;
  min-height: 400px;
  background: #4B4B4B;
}

.order {
  width: 100%;
  min-height: 200px;
  background: #C9C9C9;
}

footer.main {
  width: 100%;
  min-height: 100px;
  background:#020101;
}


